*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #333;
    color: white;
}
h1 {
    font-size: 4rem;
}
h2 {
    text-align: center;
    margin: 1rem;
} 
header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;
}



main {
    display: grid;
    justify-content: center;
}
.new-game {
    border-radius: 0.35rem;
    font-size: 1.25rem;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0.25rem;

    justify-self: center;
    max-width: fit-content;
    /* border: 0.25rem solid white; */
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100px;
}
.marker-text {
    user-select: none;
    justify-self: center;
    font-size: 7rem;
}

.win-box {
    justify-items: center;

    justify-self: center;
    align-self: center;
    width: 50%;
    border: none;
    border-radius: .35rem;

    background-color: black;
    color: white;
}
.win-box::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}
.new-game {
    border: none;
    border-radius: 0;
}